//Theme 1
.theme-1 {
  //Backgrounds
  --main-background: hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  //Keys
  --del-reset-key-background: hsl(225, 21%, 49%);
  --del-reset-key-shadow: hsl(224, 28%, 35%);
  --equals-key-background: hsl(6, 63%, 50%);
  --equals-key-shadow: hsl(6, 70%, 34%);
  --numbers-key-background: hsl(30, 25%, 89%);
  --numbers-key-shadow: hsl(28, 16%, 65%);

  //Text Colors
  --number-key-text: hsl(221, 14%, 31%);
  --remaining-text-color: hsl(0, 0%, 100%);
}

//Theme 2
.theme-2 {
  //Backgrounds
  --main-background: hsl(0, 0%, 90%);
  --keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  //Keys
  --del-reset-key-background: hsl(185, 42%, 37%);
  --del-reset-key-shadow: hsl(185, 58%, 25%);
  --equals-key-background: hsl(25, 98%, 40%);
  --equals-key-shadow: hsl(25, 99%, 27%);
  --numbers-key-background: hsl(45, 7%, 89%);
  --numbers-key-shadow: hsl(35, 11%, 61%);

  //Text Colors
  --number-key-text: hsl(60, 10%, 19%);
  --remaining-text-color: hsl(0, 0, 100%);
}

//Theme 3
.theme-3 {
  //Backgrounds
  --main-background: hsl(268, 75%, 9%);
  --keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);

  //Keys
  --del-reset-key-background: hsl(281, 89%, 26%);
  --del-reset-key-shadow: hsl(285, 91%, 52%);
  --equals-key-background: hsl(176, 100%, 44%);
  --equals-key-shadow: hsl(177, 92%, 70%);
  --numbers-key-background: hsl(268, 47%, 21%);
  --numbers-key-shadow: hsl(290, 70%, 36%);

  //Text Colors
  --number-key-text: hsl(52, 100%, 62%);
  --remaining-text-color: hsl(0, 0, 100%);
}
